
<div style="margin: 10% 0 0 30%">
  <form action="/updateOne/{{info.id}}" method="post"> 
    Name : <input  type="text" name="name"  value="{{info.name}}"> <br> <br>
    Age:  <input  type="text" name="age" value="{{info.age}}">  <br> <br>
   
    <input type="submit" >
  </form>
</div>

<div>
  <p> info is {{ obj.name}}</p>
</div>